{% if msg.is_some() %}
<div class="alert alert-info mb-5" role="alert">
        <p>{{ msg.as_ref().unwrap() }}</p>
</div>
{%- endif %}

<h1>Wharfix !</h1>
<img src="https://github.com/identicons/app/oauth_app/1355227" width="50" height="50">
<p>
   Get your free expression-based, git-backed docker registry today.
   <br>
   Signup with Github below.
</p>

<p>
  I keep your e-mail address only for sending you important technical updates about Wharfix.
  I would <em>never</em> send you Newsletters, Promotions or anything really, which is not explicitly relevant for you and the uptime and health of this service.
</p>

<p>
  <a class="btn btn-social btn-github" href="/auth">
    <span class="fa fa-github"></span> Sign in with Github
  </a>
</p>

